{% block contact %}
    <div class='container-fluid text-white py-5' style='background-color: #383838;'>
        <div class='row py-5'>
            <div class='col-md-2 col-sm-1 hidden-xs'></div>
            <div class='col-md-4 col-sm-12'>
                <p class='contact-title'>Contact us +<br>create project<br>now!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do exceur sante monara eiusmod tempor incididunt</p>
            </div>
            <div class='col-md-4 col-sm-12'>ff</div>
            <div class='col-md-2 col-sm-1 hidden-xs'></div>
        </div>
    </div>
{% endblock contact %}