<footer class="page-footer font-small pt-4 pt-5" style='background-color: #000;'>
    <div class="container text-center text-md-left text-white">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Logo Hier</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus facilisis vel ultrices vestibulum vel scelerisque donec proin magna.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Menu</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="#!">Home</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Over de DIF</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Inschrijven</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class='text-white' href="mailto:info@dutchinnovationfactory.nl">info@dutchinnovationfactory.nl</a>
                    </li>
                    <li>
                        <a class='text-white' href="tel:088 222 1777">088 222 1777</a>
                    </li>
                    <li>
                        <p>Van Doornenplantsoen 11</br>2722 ZA Zoetermeer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white pt-5">© DutchInnovationFactory |
        <a class="text-white" href="htpps://mborijnland.nl/"> Developed by <span style='font-weight: bold;'>MBORijnland</span></a>
    </div>
</footer>